# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# Android
android/.gradle/
android/local.properties
android/key.properties        # contains signing keys - keep private!

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db